body, html {width: 100%; height: 100%; margin: 0; padding: 0}
.row1 {position: absolute;top: 0; left: 0; right: 0; height: 100px; background-color: lime;}
.row2 {position: absolute; top: 100px; left: 0; right: 0; bottom: 0; background-color: red }
.row2 iframe {display: block; width: 100%; height: 100%; border: none;}
